<div class="plaincontainer">
  <div class="filter">
    <h2>Übersicht aller Events</h2>
  <form action="/events/searchCS" method="get" class="create-form-overview" >
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        <label for="category"> <b>Filtere die Events nach Kategorie oder Stadt:</b></label>
        <select type="text" name="category">
          <option value="empty">Wähle eine Kategorie</option>
            <option value="Sport">Sport</option>
            <option value="Musik">Musik</option>
            <option value="Kultur">Kultur</option>
            <option value="Weiteres">Weiteres</option>
        </select>
        <input type="text" placeholder="Stadt" name="stadt" minLength="1" maxlength="120" />
     <button type="submit" class="submit-button">Filtern</button>
  </div>


  <div class="grid-container431">
    <% events.forEach(function(event){ %>
      <div class="grid-item431">
        <div class="overviewName">
          <%= event.name %>
        </div>
        <% if(event.image) { %>
          <div class="overviewImg">
            <img class="overviewPartyImage" src="/images/events/<%= event.image %>" />
          </div>
          <% } %>
          <div class="overviewData">Name: <%= event.name %>
          </div>
            <div class="overviewData">Datum: <%= event.date %>
            </div>
            <div class="overviewData">Stadt: <%= event.stadt %>
            </div>
            <div class="overviewData">Kategorie: <%= event.category %>
            </div>
            <br>

            
            <div class="overviewButtons">
              <form class="overviewForm" action="/event/<%=event.id%>">
                <input class="overviewButton" type="submit" value="Details" name="detail" />
              </form>
            </div>
      </div>
      <% }); %>

  </div>
</div>