<%- exposeLocalsToBrowser() %>
    <div class="grid-container-show">

        <div id="promote-stepone">
            <h3>Möchten sie wirklich das Event auf diese Promotionsstufe <%= promo%> setzen?</h3>
            <p>
                <br>
                <br>
                <br>

                <button type="submit" class="promote-button" @click="promote(<%= eventId %>,  <%= promo%>)"><a
                        href="/event/promote/<%= eventId %>">Jetzt Promotions-Level <%= promo%> auswählen</a></button>
                <br>
                <br>

                <button type="submit" class="promote-button" ><a href="/event/promote/<%= eventId %>">Vorgang abbrechen</button> </a>
            </p>
        </div>
    </div>

    <%- exposeLocalsToBrowser() %>